<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <l1>
                        <p><%= p.productData.title %> (<%= p.qty %>)</p>
                        <form method = "POST" action = "/cart-delete-item">
                            <input type="hidden" name = "productId" value = "<%= p.productData._id %>"/>
                            <button type = "submit" class = "btn">DELETE</button>
                        </form>
                    </l1>
                <% }) %>
            </ul>
        <% } else { %>
            <h2>No Product Found</h2>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>